@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --main-color: #c4dfdf;
  --secondary-color: #d2e9e9;
  --third-color: #e3f4f4;
  --fourth-color: #f8f6f4;
}

/* reset all style with simple one */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--main-color);
  overflow-x: hidden;
}

h1 {
  font-size: larger;
}

article {
  margin: 0 1rem;
  font-size: smaller;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  background-color: var(--secondary-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
  gap: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
}

nav img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0.5rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

nav ul li:nth-child(1) {
  color: white;
  text-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(#1c19e3, #8119e3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  margin-top: 8.5rem;
}

#content div {
  background-color: var(--main-color);
  margin: 1rem 0;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

footer {
  background-color: var(--secondary-color);
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: small;
}

@media screen and (min-width: 576px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav img {
    width: 3rem;
    height: 3rem;
  }

  nav ul {
    gap: 2rem;
    padding-right: 1rem;
    font-size: large;
  }
}
@media screen and (min-width: 768px) {
  nav img {
    width: 3rem;
    height: 3rem;
  }

  nav a {
    padding-left: 1.2rem;
  }

  nav ul {
    gap: 2.3rem;
    padding-right: 1.3rem;
    font-size: large;
  }
}
@media screen and (min-width: 992px) {
  nav img {
    width: 4rem;
    height: 4rem;
  }

  nav a {
    padding-left: 1.2rem;
  }

  nav ul {
    gap: 3rem;
    padding-right: 2.3rem;
    font-size: larger;
  }
}
